/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}


.results, .bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.book-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  border-radius: 5px;
  
}

.book-card button {
  margin-top: 1rem;
  cursor: pointer;
}

